body {
  margin: 0;
  color: #000;
  font: 12px/18px -apple-system, 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
}

a, a:visited {
  color: #0042aa;
}

div.container {
  width: 100%;
}

div.item {
  padding: 4px 4px 0;
  border-bottom: 1px solid #a9a9a9;
}

div.item:last-child {
  border-bottom: none;
}

div.gutter {
  display: table-cell;
  padding-right: 6px;
  width: 40px;
  vertical-align: middle;
  text-align: right;
}

div.content {
  display: table-cell;
}

div.details {
  overflow: auto;
  margin-left: 46px;
  color: #4f4f4f;
  -webkit-transition: max-height .2s ease;
}

p {
  margin: 4px 0;
}

div.details > p:first-child {
  margin-top: 0;
}

div.details > p:last-child {
  margin-bottom: 0;
}

input.toggle {
  display: none;
}

input.toggle + div.summary label {
  padding: 0 6px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .3);
  color: #fff;
  white-space: nowrap;
  font-weight: bold;
}

input.toggle + div.summary label:after {
  position: relative;
  top: -1px;
  display: inline-block;
  content: '⨠';
  font-weight: normal;
  -webkit-transition: all .1s linear;
}

input.toggle:checked + div.summary label:after {
  top: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

input.toggle ~ div.details {
  margin-bottom: 0;
  max-height: 0;
}

input.toggle:checked ~ div.details {
  margin-bottom: 4px;
  max-height: 200px;
}

span.date {
  margin-right: .5em;
  padding: 0 6px;
  border-radius: 5px;
}

div.summary span.date {
  background-color: rgba(0, 89, 255, .17);
  color: #0042aa;
}

div.details span.date {
  background-color: rgba(0, 0, 0, .08);
}

div.summary span.date.new, div.details span.date.new {
  background-color: rgba(74, 153, 0, .17);
  color: #38571a;
}

div.summary span.date.error, div.details span.date.error {
  background-color: rgba(255, 13, 0, .15);
  color: #b51a00;
}

span.nohistory {
  display: inline-block;
  padding: 8px;
}