body {
  margin: 0;
  background-color: #ececec;
  color: #000;
}

body, input {
  font: 12px -apple-system, 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
}

body.noscroll {
  overflow: hidden;
}

div.container {
  margin: 8px auto;
  min-width: 513px;
  max-width: 769px;
  width: 80%;
}

h1 {
  margin: 0 0 3px 0;
  text-align: center;
  font-size: 23px;
}

span.logo {
  display: inline-block;
  margin: 0 6px 4px 0;
  width: 32px;
  height: 32px;
  background-image: url(Icon-32.png);
  background-image: -webkit-image-set(url(Icon-32.png) 1x, url(Icon-64.png) 2x);
  background-size: auto 32px;
  background-repeat: no-repeat;
  vertical-align: middle;
}

div.content {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  background-color: #fff;
}

div.general {
  padding-bottom: 7px;
  border: none;
}

div.page {
  padding-bottom: 7px;
  border-top: 1px solid #a9a9a9;
}

div.page.error {
  background-image: -webkit-linear-gradient(left, rgb(227, 36, 0) 0px, rgba(227, 36, 0, 0) 4px);
}

div.page.test {
  background-image: -webkit-linear-gradient(left, rgb(0, 86, 214) 0px, rgba(0, 86, 214, 0) 4px);
}

ul.options {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

ul.options li {
  display: table-row;
  height: 32px;
}

ul.options div.label {
  display: table-cell;
  padding: 0 7px 5px 0;
  width: 128px;
  vertical-align: bottom;
  text-align: right;
}

ul.options div.option {
  display: table-cell;
  padding: 0 6px 0 0;
  vertical-align: bottom;
}

div.label label {
  font-weight: bold;
}

div.label label.gray {
  color: #a9a9a9;
}

input.text, input.url, input.number {
  box-sizing: border-box;
  margin: 0;
  padding: 4px;
  width: 100%;
  border: 1px solid #a9a9a9;
  color: #000;
}

input.url {
  border-color: transparent;
  color: #0042aa;
  text-decoration: underline;
}

input.number {
  width: 41px;
  text-align: right;
}

input.text.error {
  border-color: #b51a00;
  color: #b51a00;
}

input.url.error {
  color: #b51a00;
}

input.text:focus, input.number:focus {
  border-color: #a9a9a9;
  color: #000;
}

span.unit {
  margin-left: 7px;
}

div.actions {
  position: absolute;
  margin-top: 8px;
  opacity: .1;
  -webkit-transition: opacity .25s ease-in;
}

div.page:hover div.actions {
  opacity: 1;
}

div.button {
  margin: 0 0 8px 8px;
  width: 16px;
  height: 16px;
  background-image: url(btn-packed.png);
  background-image: -webkit-image-set(url(btn-packed.png) 1x, url(btn-packed@2x.png) 2x);
  background-position: 0 0;
  background-size: auto 16px;
  background-repeat: no-repeat;
}

div.button.delete:hover {
  background-position: -16px 0;
}

div.button.ok {
  background-position: -32px 0;
}

div.button.test {
  background-position: -48px 0;
}

div.button.ok:hover, div.button.test:hover, div.button.error:hover {
  background-position: -64px 0;
}

div.button.error {
  background-position: -80px 0;
}

input.button {
  float: right;
  margin: 8px 0 8px 7px;
  padding: 4px 8px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  background-color: #fff;
  opacity: .35;
  -webkit-transition: opacity .25s ease-in;
  -webkit-appearance: none;
}

input.button:hover {
  opacity: 1;
}

.hidden {
  position: absolute;
  top: -500px;
}

div.tooltip {
  position: absolute;
  display: none;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in;
}

div.tooltip:after {
  position: absolute;
  top: 100%;
  left: 10px;
  width: 1px;
  height: 1px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .7) transparent;
  content: '';
}

div.tooltip.error {
  background-color: rgba(131, 17, 0, .85);
}

div.tooltip.error:after {
  border-color: rgba(131, 17, 0, .85) transparent;
}

div.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 199;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

div.overlay.visible {
  display: block;
}

div.dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  overflow: hidden;
  margin: auto;
  min-width: 529px;
  min-height: 400px;
  max-width: 785px;
  max-height: 600px;
  width: calc(80% + 14px);
  height: 75%;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  background-color: #fff;
  background-image: url(dialog-header.png);
  background-image: -webkit-image-set(url(dialog-header.png) 1x, url(dialog-header@2x.png) 2x);
  background-position: 0 0;
  background-size: auto 22px;
  background-repeat: repeat-x;
  box-shadow: 5px 15px 50px 0 rgba(0, 0, 0, .7);
}

div.dialogwindowbuttons {
  position: absolute;
  margin: 1px 0 0 4px;
  width: 60px;
}

div.dialogwindowbutton {
  float: left;
  margin: 4px;
  width: 12px;
  height: 12px;
  background-image: url(dialog-header-button.png);
  background-image: -webkit-image-set(url(dialog-header-button.png) 1x, url(dialog-header-button@2x.png) 2x);
  background-position: -24px 0;
  background-size: auto 12px;
  background-repeat: no-repeat;
}

div.dialogwindowbutton.close {
  background-position: -12px 0;
}

div.dialogwindowbuttons:hover div.dialogwindowbutton.close {
  background-position: 0 0;
}

div.dialogheader {
  padding: 3px 4px 0 68px;
  text-align: center;
  cursor: default;
  -webkit-user-select: none;
}

span.dialogtitle {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  color: #4f4f4f;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.dialoglog {
  position: absolute;
  top: 29px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  overflow: scroll;
  padding: 4px;
  border: 1px solid #a9a9a9;
  white-space: nowrap;
  white-space: pre;
  font: 11px Menlo, Courier, monospace;
}

div.dialoglog span.log {
  color: #000;
}

div.dialoglog span.info {
  color: #0042aa;
  font-weight: 600;
}

div.dialoglog span.success {
  color: #38571a;
  font-weight: 600;
}

div.dialoglog span.error {
  color: #b51a00;
  font-weight: 600;
}

div.dialoglog span.highlight {
  background-color: rgba(74, 153, 0, .17);
  color: #38571a;
}

div.dialogcontent {
  position: absolute;
  top: 29px;
  right: 7px;
  bottom: 39px;
  left: 7px;
}

div.dialogcontent textarea {
  box-sizing: border-box;
  margin: 0 0 -4px 0;
  padding: 4px;
  width: 100%;
  height: 100%;
  border: 1px solid #a9a9a9;
  font: 11px Menlo, Courier, monospace;
  resize: none;
}